* {
    color: #fff;
}

header {
    height: 100px;
    background: #333;
}

header h1 {
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}


nav {
    background: #333;
    height: 40px;
}

nav ul li {
    float: left;
    list-style-type: none;
}


nav ul li a {
    margin-left: 15px;
    text-decoration: none;
    line-height: 40px;
}

#banner {
    height: 200px;
    background: #333;
    margin-top: 15px;
    text-align: center;
}

#banner p {
    line-height: 200px;
}

#esquerda {
    float: left;
    margin-right: 5px;
    width: 49%;
    background: #333;
     margin-top: 15px;
}

#direita {
    float: right;
    width: 49%;
    background: #333;
     margin-top: 15px;
     margin-bottom: 15px;
}

footer {
   clear: both;
   background: #333;
   height: 70px;
   text-align: center;
   margin-top: 15px;
}